.product-wrapper{
  display: flex;
  flex-flow: column;
  max-width: 270px;
  transition: all 0.3s;
  text-decoration: none;
  color: #232323;
}

.product-wrapper:hover{
  border-radius: 25px;
  overflow: hidden;
  box-shadow:
  0 1.2px 1.6px -18px rgba(0, 0, 0, 0.02),
  0 2.8px 3.9px -18px rgba(0, 0, 0, 0.028),
  0 5.3px 7.3px -18px rgba(0, 0, 0, 0.035),
  0 9.4px 13px -18px rgba(0, 0, 0, 0.042),
  0 17.5px 24.2px -18px rgba(0, 0, 0, 0.05),
  0 42px 58px -18px rgba(0, 0, 0, 0.07);
}

.page-numbers-wrapper{
  width: 50%;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
}

.page-button{
  padding: 5px;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.activeClassName{
  border:0;
  color: white;
  background-color: #2d2d2d;
}

.pagination{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
}

.pageItem{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  margin: 5px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.previous-next-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: auto;
  height: 35px;
  margin: 5px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}